@model WebApplication2.Models.User

@{
    ViewBag.Title = "用户信息";
}

<h2>详细信息</h2>

<div>
    <h4>用户</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改用户信息", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回用户列表", "Index")
</p>
