@model IEnumerable<WebApplication2.Controllers.CResult>

@{
    ViewBag.Title = "ResultTable";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-table.js"></script>


<h2>ResultTable</h2>

<table class="table" id="table"></table>
<script>
    $(document).ready(function () {
        $("#table").bootstrapTable({

            url: "GetHistory",
            striped: true,
            sortable: true,
            sortOrder: "asc",
            columns: [
                {
                    field: "ID",
                    title: "结果序号"
                },
                {
                    field: "TotalLate",
                    title: "总拖延时间"
                },
                {
                    field: "TotalDuration",
                    title: "调度总时间"
                },
                {
                    field: "TotalDistance",
                    title: "总路程"
                }
            ]

        });
    });
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalLate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDuration)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @(item.TotalLate / 60)
            </td>
            <td>
                @(item.TotalDistance / 1000)
            </td>
            <td>
                @(item.TotalDuration / 60)
            </td>
            <td>
                @Html.ActionLink("查看", "CalculateResult", new { id = item.ID }) |
            </td>
        </tr>
    }

</table>
