@model IEnumerable<WebApplication2.Controllers.CResult>

@{
    ViewBag.Title = "ResultTable";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-table.js"></script>


<h2>ResultTable</h2>

<table class="table" id="table"></table>
<script>

</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID) <br />
            @Html.ActionLink("升序", "ResultTable", new { id = 6 }) | @Html.ActionLink("降序", "ResultTable", new { id = 7 })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalLate) <br />
            @Html.ActionLink("升序", "ResultTable", new { id = 2 }) | @Html.ActionLink("降序", "ResultTable", new { id = 5 })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDistance) <br />
            @Html.ActionLink("升序", "ResultTable", new { id = 0 }) | @Html.ActionLink("降序", "ResultTable", new { id = 3 })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDuration) <br />
            @Html.ActionLink("升序", "ResultTable", new { id = 1 }) | @Html.ActionLink("降序", "ResultTable", new { id = 4 })
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @((item.TotalLate / 60).ToString("#0.00"))
            </td>
            <td>
                @((item.TotalDistance / 1000).ToString("#0.00"))
            </td>
            <td>
                @((item.TotalDuration / 60).ToString("#0.00"))
            </td>
            <td>
                @Html.ActionLink("查看", "CalculateResult", new { id = item.ID }) 
            </td>
        </tr>
    }

</table>

